*{
    background-color: bisque;
}
h2{
    color:rgb(207, 87, 161) ;
    text-align: center;
}
p{
    text-align: center;
}

form{
   
    text-align: center;
    margin: auto;

}
#sect1{
    text-align: center;
    tex
}




